
body
{ 
	color: black; 
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Verdana, Arial, Helvetica; 
	font-size: 9pt;
} 

body.navigation
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: center;
}

#canvas, #appletcanvas
{
	width: 840px; 
	height: 100%;
	margin: 0 auto; 
	z-index: 1;
	background-color : #FFFFFF;	
}

#appletcanvas
{
	border: solid rgb(226,62,62);
	border-width: 1px;
	background-color: #BFD8FF;
}

#page {

	width:100%;

}

p
{
	margin-top: 0px;
	text-align: left;
}


h1
{ 
	text-align: left;
	font-size: 18pt;
	color: #000000; 
}

h1.navigation
{
	color: #ff0000;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	text-align: left;
}

/*  GerardK   28-01-2002  navigationheader noodoplossing ivm NS 4 */ 

.navigationheader
{
	/*margin-top: -3px;*/
	text-align: center;	
	font-family: Verdana, Arial;
	font-size: 16pt;
	color: #ff0000;
	font-weight: bold;
}

h2
{
	margin-top: 12px;	margin-bottom: 3px;
	font-size: 14pt;
	color: #000000; 
	text-align: left;
}


h3
{	
	margin-top: 8px;	margin-bottom: 2px;
	font-size: 12pt;
}


h4
{	
	font-size: 10pt;
}

h5
{
	font-size: 9pt;
}

h6
{
	font-size: 8pt;
	color:red;
}


ul
{
	margin-top: 2px;
	margin-bottom: 2px;
}

hr
{
	width:40%;
}


a
{ 
	color: #e23e3e;
	text-decoration: none;
}

a:hover
{ 
	color: #e23e3e;
	text-decoration: underline;
}

th
{
	text-align: left;
	padding-left: 10px;
}

td, td.cel
{
	padding-left: 10px;
	vertical-align: top; 
	text-align: left;
	font-size: 9pt;
}

td.cel
{
	width: 100px;
	padding-bottom: 10px;
}
img
{
	border: 0;
}


/*  GerardK   31-01-2002   .formulier noodoplossing ivm NS 4 */ 
/*.formulier
{
margin-top: -10px;
}*/

.opmerking
{
	font-size: 8pt;
}

.knop
{
	border-style: outset;
	color: white; 
	background-color: red;
	font-weight: bold;		
}

.grafknop
{
	border-style: outset;
	border-color: #ccccff;
	border-width: 3px;
}

.koptekst
{
	text-align: center;
	color: #99ccff;
	background-color: #336699;
	font-size: 8pt;
}

.bericht
{
	background-color: #336699;
 	border-color: #cccccc; border-style: outset; 
	padding: 10px; 
	text-align: center;
	font-size: 12pt; font-weight: bold;
	color: white;
}

#laatste_nieuws
{
	position: absolute; left: 0px; top: 0px;width:250px; height:60px;
	background-color: #99ccff; color: #000000; 
	border-style: inset; border-color: #cccccc;
	overflow: auto;
}
span.klein {font-size : smaller; color: gray;}
